{% extends 'bootstrap/base.html' %}

{% block styles %}

{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}


{% block title %}ToDo{% endblock %}


{% block content %}

<div class="container">
	<div class="row">
		<div class="col-sm-12">

			<h1>All ToDo</h1>

			<ul class="list-group  list-group-numbered">
				{% for row in all_todo %}
				<li class="list-group-item list-group-item-dark">
					<a href="{{ url_for('delete', todo_id=row.id) }}">Delete</a> - {{ row.task }}
				</li>
				{% endfor %}
			</ul>

			<p><a href="{{ url_for('add_todo') }}">Add</a></p>
		</div>
	</div>
</div>

{% endblock %}
